#root {
  max-width: 317px;
  margin: 0 auto;
  text-align: center;
  background-color: #1A1B21;
  font-family: 'Inter', sans-serif;
  border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.info--me {
  border-radius: 10px 10px 0 0;
  width: 317px;
}
.info--fullName {
  margin: 0;
  font-weight: 700;
  font-size: 1.5em;
  text-align: center;
}
.info--jobTitle {
  color: #F3BF99;
  margin: 0;
  font-weight: 400;
  font-size: 0.8em;
}
.info--github {
  display: flex;
  align-items: center;
  justify-content: center;
}
.info--github_link {
  font-weight: 400;
  font-size: .6em;
}
.info--cta {
  display: flex; 
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: .5em;
}
.info--cta_Btn {
  color: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 9px 13px 9px 11px;
  gap: 8px;
  width: 115px;
  height: 34px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  font-size: .9em;
  font-weight: 500;
  border-radius: 6px;
  cursor: pointer;

}

.email {
  background-color: #FFFF;
  color: #374151;
  border: 1px solid #D1D5DB;
}

.email:hover {
  background-color: #374151;
  color: #FFFF;
  border: 1px solid #374151;
}
.linkedin {
  background-color: #5093E2;
  color: #fff;
  border: 1px solid #5093E2;
}

.linkedin:hover {
  background-color: #FFF;
  color: #5093E2;
  border: 1px solid #FFF;
}

.about-container, .interests-container {
  text-align: left;
  display: flex;
  flex-direction: column;
  margin: 1em 1.7em;
}

.about--title, .interests--title {
  font-size: 1em;
  font-weight: 700;
  color: #F5F5F5;
}

.about-container > p, .interests-container > p {
  font-size: .8em;
  font-weight: 400;
  font-style: normal;
  color: #dcdcdcdc;
  line-height: 1.2em;
}
.footer {
  background-color: #161619;
  height: 64px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding:0 5em;
  border-radius: 0px 0px 10px 10px;
}

.footer--social {
  font-size: 25px;
  width: 25px;
  color: #918E9B;
  margin: 12px;
}